<div class="parent">
    <div class="child1">
        <h2 routerLink="About">About</h2>
        <h2 routerLink="Home">Home</h2>
        <h2 routerLink="Welcome">Welcome</h2>
        <h2 routerLink="databinding">data binding</h2>
        <h2 routerLink="calculator">calculator</h2>
        <h2 routerLink="Rectangle">Rectangle</h2>
        <h2 routerLink="Circle">Circle</h2>
        <h2 routerLink="BMI">BMI</h2>
        <h2 routerLink="dice">dice</h2>
        <h2 routerLink="directives">directives</h2>
        <h2 routerLink="pipes">pipes</h2>
        <h2 routerLink="tasks">tasks</h2>
        <h2 routerLink="flipkart">flipkart</h2>
        <h2 routerLink="higer-order">higer-order</h2>
        <h2 routerLink="amazon">amazon</h2>
        <h2 routerLink="employees">employees</h2>
        <h2 routerLink="vehicle">vehicle</h2>
        <h2 routerLink="bank">bank</h2>
        <h2 routerLink="createvehicle">create vehicle</h2>
        <h2 routerLink="students">students</h2>
        <h2 routerLink="create-user">create-user</h2>
        <h2 routerLink="student-progress">student-progress</h2>
        <button routerLink="/login">logout</button>
        

    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>

</div>
